<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Urban Stride &horbar; style meets motion</title>

    <!-- FONT AWESOME SCRIPT -->
    <script
      src="https://kit.fontawesome.com/6fcc669dda.js"
      crossorigin="anonymous"
    ></script>

    <!-- GOOGLE FONTS SCRIPT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mali:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&family=Varela+Round&display=swap"
      rel="stylesheet"
    />

    <!-- MY SCIPTS -->
    <script src="/js/main.js" defer></script>

    <!-- MY CSS -->
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/style.css" />